<tr>
    <td><perl>_("Domain Comment")</perl></td>
    <td>
        <textarea cols=40 rows=4  name=ispmanDomainComment><perl>$ispman->{'domain'}{'ispmanDomainComment'}</perl></textarea>
    </td>
</tr>


