<tr >
    <td><perl>_("Domain Customer")</perl></td>
    <td>
        <INPUT size=25 TYPE="TEXT" NAME="ispmanDomainCustomer" value="<perl>$ispman->{'domain'}{'ispmanDomainCustomer'}</perl>">
    </td>
</tr>


