
<tr>
    <td><perl>_("Domain GID")</perl></td>
    <td>
        <input size=35 type=hidden name=gidNumber value="<perl>$ispman->{'domain'}{'gidNumber'}</perl>">
        <perl>$ispman->{'domain'}{'gidNumber'}</perl>
    </td>
</tr>


