
<tr>
    <td><perl>_("Max Email accounts")</perl> </td>
    <td> 
    <input  size=4 type=text name=ispmanMaxAccounts value="<perl>$ispman->{'domain'}{'ispmanMaxAccounts'}</perl>">
    (<perl>$ispman->getUserCount($r->param("ispmanDomain"))</perl> accounts in use)
    </td>
</tr>

