<tr>
    <td><perl>_("Max Databases")</perl> </td>
    <td> 
    <input size=4 type=text name=ispmanMaxDatabases value="<perl>$ispman->{'domain'}{'ispmanMaxDatabases'}</perl>">
    (<perl>$ispman->getDatabasesCount($r->param("ispmanDomain"))</perl> databases in use)
    </td>
</tr>

