<tr>
    <td><perl>_("Max Virtual Hosts")</perl> </td>
    <td> 
    <input  size=4 type=text name=ispmanMaxVhosts value="<perl>$ispman->{'domain'}{'ispmanMaxVhosts'}</perl>">
    (<perl>$ispman->getVhostCount($r->param("ispmanDomain"))</perl> vhosts in use)
    </td>
</tr>

