
<tr>
    <td><perl>_("Domain Owner")</perl></td>
    <td>
        <INPUT size=25 TYPE="TEXT" NAME="ispmanDomainOwner" value="<perl>$ispman->{'domain'}{'ispmanDomainOwner'}</perl>">
    </td>
</tr>


