<tr>
    <td><perl>_("Max Storage Space (in MB)")</perl> </td>
    <td> 
    <input  size=4 type=text name=FTPQuotaMBytes value="<perl>$ispman->{'domain'}{'FTPQuotaMBytes'}</perl>">
    </td>
</tr>


