
<tr>
    <td><perl>_("Domain UID")</perl></td>
    <td>
        <input size=35 type=hidden name=uidNumber value="<perl>$ispman->{'domain'}{'uidNumber'}</perl>">
        <perl>$ispman->{'domain'}{'uidNumber'}</perl>
    </td>
</tr>



