<html>
<head>
<LINK HREF="<perl>$customer->getConfig('ispmanUrlPrefix')</perl>/control_panel/style.css" REL="stylesheet" TYPE="text/css">
<style type=text/css>
A {text-decoration: none; color:blue;}
A:vlink { text-decoration: underline;}
</style>

</head>
<body>


Please select a user from the list to edit.<br>
You may 
<ul>
<li>Edit User's personal information such as Lastname, Firstname etc
<li>Change user's password
<li>Add or modify user's email aliases
<li>Add or modify user's forwarding email addresses
</ul>


