dn: ou=httpusers, ispmanDomain=<perl>$r->param("ispmanDomain")</perl>, <perl>$ispman->getConf("ldapBaseDN")</perl>
ou: httpusers
ispmanDomain: <perl>$r->param("ispmanDomain")</perl>
objectclass: ispmanhttpusersgroup

