<LINK HREF="<perl>$ispman->getConfig('ispmanUrlPrefix')</perl>/ispman.css" REL="stylesheet" TYPE="text/css">
   

   
<perl>
my $text="";
my $c=1;
my $thisDomain=$r->param("ispmanDomain");

$text.=qq|        

@{[_("Readonly access granted.")]}
<br>
@{[_("This domain is locked and editable by [_1]", $ispman->{'domain'}{'ispmanDomainLockedBy'})]}

<p>
|;

$text;
</perl>

        
 <P>
Viewing NS Records for <perl>$r->param("domain")</perl>
<table border=1 cellpadding=0 cellspacing=5><tr><th>Origin </th><th>Host</th></tr>
<perl>
my $text="";
for (@{$ispman->{'domain'}{'dns'}}){
        $text.="<tr>";
        $text.="<td>$_->{'origion'}</td>";
        $text.="<td>$_->{'host'}</td>";
        $text.="</tr>";
}
$text
</perl>
</table>

