<input type=hidden name="ispmanClientId" value="<perl>$r->param("ispmanClientId")</perl>">
<input type=hidden name="ispmanDomainComment" value="<perl>$r->param("ispmanDomainComment")</perl>">
<input type=hidden name="ispmanDomainOwner" value="<perl>$r->param("ispmanDomainOwner")</perl>">
<input type=hidden name="ispmanDomainCustomer" value="<perl>$r->param("ispmanDomainCustomer")</perl>">
<input type=hidden name="ispmanDomainType" value="<perl>$r->param("ispmanDomainType")</perl>">
<input type=hidden name="ispmanDomain" value="<perl>$r->param('ispmanDomain')</perl>">
<input type=hidden name="ispmanDomainServices" value="<perl>join ",", $r->param('ispmanDomainServices')</perl>">


