
<tr>
    <td><perl>_("Default DB Host")</perl> </td>
    <td>
        <select name="ispmanDomainDefaultDBHost">
        <perl>
        my $text="";
        my @ispmanDomainDefaultDBHosts=$ispman->getGroupMembers("databasegroup");

        for (@ispmanDomainDefaultDBHosts){
            $text.="<option VALUE='$_'>$_</option>";
        }

        if  ($#ispmanDomainDefaultDBHosts<0){
            $text.="<option VALUE=''>";
            $text.=_("WARNING: No members in group [_1] defined", "databasegroup");
            $text.="</option>";
        }

        $text
        </perl>
        </select>
    </td>
</tr>


