
<tr>
    <td><perl>_("Master servers")</perl></td>
    <td> 
    <input  size=35 type=text name=ispmanDnsMasters value=""> <BR>
    <perl>_("You can put multiple ip addresses separated by space")</perl>
    </td>
</tr>


