<tr>
    <td><perl>_("FTP Access")</perl></td>
    <td> 
    <select name="FTPStatus">
    <option value="enabled"><perl>_("Enabled")</perl></option>
    <option value="disabled"><perl>_("Suspended")</perl></option>
    </td>
</tr>


