                                           
<tr>
    <td><perl>_("Home Directory")</perl></td>
    <td>
        <input size=35 type=text name=homeDirectory value="<perl>join '/', ($ispman->getConf("defaultHomeDirectoryPath"), lc($r->param("ispmanDomain")))</perl>">
    </td>
</tr>



