<tr>
    <td><perl>_("Mail Delivery")</perl></td>
    <td>
        <input type=radio name="ispmanDomainMailDeliveryMethod" value="local" checked> <perl>_("Deliver Locally")</perl><br>
        <input type=radio name="ispmanDomainMailDeliveryMethod" value="smtp"> <perl>_("Deliver to MX host")</perl> 
    </td>
</tr>

