<!-- headers.tmpl HEAD -->
<html>
<head>
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<title>ISP Manager@<perl>$ENV{'SERVER_NAME'}</perl> Version: <perl>$ispman->getConfig("VERSION")</perl></title>
<LINK HREF="<perl>$ispman->getConfig("ispmanUrlPrefix")</perl>/ispman.css" REL="stylesheet" TYPE="text/css"> 
</head>
<body>

