<LINK HREF="<perl>$ispman->getConfig('ispmanUrlPrefix')</perl>/ispman.css" REL="stylesheet" TYPE="text/css">
   

   

<perl>_("Please enter the name of  mailgroup to create. A mailgroupname can contains characters a - z. <BR> No accent characters, numbers or punctuation marks are allowed.")</perl>
<BR>
 <P>
<table border=0>
<form>
<tr><td colspan=2>
    <perl>_("Adding mailgroup for domain:")</perl>  
    <perl>$r->param('ispmanDomain')</perl>
    <br><hr noshade></td></tr>


<tr>
    <td><perl>_("Mail group name")</perl></td>
    <td>
        <input  size=35 type=text name=cn value="">
    </td>
</tr>

                                           
<tr>
    <td valign=top><perl>_("Mail group members")</perl></td><td>( <perl>_("local or  remote")</perl> )</td>
</tr>

<tr>
    <td colspan=2>
        <textarea cols=50 rows=3 name=mailForwardingAddress></textarea>
   </td>
</tr>

<tr>
    <td valign=top><perl>_("Mail group aliases")</perl></td>
</tr>

<tr>
    <td colspan=2>
        <textarea cols=50 rows=3 name=mailAlias></textarea>
   </td>
</tr>

<input type=hidden name="mode" value="newMailGroup">
<input type=hidden name="ispmanDomain" value="<perl>$r->param('ispmanDomain')</perl>">
   <tr><td align=right colspan=2>  
         <input type=button class="button" onClick="document.forms[0].reset()" value="<perl>_("Reset")</perl>">
         <input type=button class="button" onClick="document.forms[0].submit()" value="<perl>_("Add mailgroup")</perl>">
      </td></tr>
   </form></table>
 
 

