<HEAD>
<TITLE>
        MOTD : ISPMan Domain Manager :: Unauthorized Access prohibited
</title>
<LINK HREF="<perl>$ispmanUrlPrefix</perl>/style.css" REL="stylesheet" TYPE="text/css">
</HEAD>
<body>
<CENTER>
<h1> - &nbsp; ISPMan Control Panel &nbsp; - </h1>

<B>!!!!!!!!!!!!!!!!!!!!! Unauthorized Access prohibited !!!!!!!!!!!!!!!!!!!!!!!!</b>
<P>

<TABLE WIDTH=600>
<TD ALIGN="CENTER">
<P ALIGN="right"><FORM method="POST">
<TABLE class=menu>

<tr  class=item><TD>Domain name:</td><TD> <INPUT type=text NAME=domain value=""></td></tr>
<tr  class=item1><TD>Domain password: </td><TD><INPUT type=password NAME=pass value=""></td></tr>
<tr><td colspan=2 ALIGN=right><INPUT TYPE="submit" CLASS="button" VALUE="Login"></td></tr>
</table>

</p>

<P ALIGN="JUSTIFY">
    This system is for the use of authorized users only. Individuals using this computer
    system without authority, or in excess of their authority, are subject to having all
    of their activities on this system monitored and recorded.
</p>
 
<P ALIGN="JUSTIFY">
    In the course of monitoring individuals improperly using this system, or in the course
    of system maintenance, the activities of authorized users may also be monitored.
</p>
 
<P ALIGN="JUSTIFY">
    Anyone using this system expressly consents to such monitoring and is advised that if
    such monitoring reveals possible evidence of criminal activity, system personnel may 
    provide the evidence of such monitoring to law enforcement officials.
</p>



</td>
</table>
                                                                                                                                                                              
<BR>


</center>


