<perl> return $ispman->getTemplate("domains/add/header.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/domainname.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/domainmaster.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/maildelivery.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/commonhidden.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/footer.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>

