<perl> return $ispman->getTemplate("domains/add/header.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/domainname.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/defaultmaildrop.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/defaultwebhost.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/defaultfilehost.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/defaultdbhost.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/homedirectory.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/maxaccounts.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/maxvhosts.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/maxdatabases.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/quota.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/ftppassword.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/ftpstatus.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/maildelivery.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/actions.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/commonhidden.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/footer.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>

   

   

 
 

