<perl> return $ispman->getTemplate("domains/edit/header.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/domainname.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/domaintype.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/owner.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/customer.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/comment.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/dnsmasters.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/domainservices.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/defaultwebhost.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/defaultmaildrop.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/defaultfilehost.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/defaultdbhost.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/homedirectory.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/uid.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/gid.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/maxaccounts.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/maxvhosts.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/add/maxdatabases.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/maildelivery.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/ftppassword.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/quota.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/ftpstatus.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>
<perl> return $ispman->getTemplate("domains/edit/locked.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>

<input type=hidden name="mode" value="modifySlaveDomain">
<perl> return $ispman->getTemplate("domains/edit/footer.tmpl")->fill_in(PACKAGE => __PACKAGE__); </perl>



